<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a Recipe</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css.css' %}">
</head>
<body>
    <div id="wrapper">
        <header>
            <h2 class="add_recipe">
                Add message
            </h2>
            <a href="/myaccount/{{user_info.id}}" class="edit_my_account">Edit My Account</a>
            <a href="/logout" class="logout">Logout</a>
        </header>
        <main>
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message | safe}}</p>
                    {% endfor %}
                {% endif %}
            <form class="form" action ="/resqpedia/addrecipe" method="POST">
            {{ AddMessage.as_p }}
            {% csrf_token %}
                <div id="left">
                    </div>
                    <div class="prep">
                        <p class="input_name_left" for="prep_time">Prep Time: </p>
                        <input class="number_input" type="number" name="prep_time" style="text-align: center">
                    </div>
                    <div class="cook">
                        <p class="input_name_left" for="cook_time">Cook Time: </p>
                        <input class="number_input" type="number" name="cook_time">
                    </div>
                    <div class="servings">
                        <p class="input_name_left" for="number_of_servings">Number of Servings: </p>
                        <input class="number_input" type="number" name="number_of_servings">
                    </div>
                </div>
                <div id="right">
                    <div class="title">
                        <label class="input_name_right" for="title">Title</label>
                        <input class="title_input" type="text" name="title" placeholder="Required"></input>
                    </div>
                    <div class="description">
                        <label class="input_name_right" for="description">Description </label>
                        <textarea name="description" placeholder="Must be more than 50 characters" rows="3"></textarea>
                    </div>
                    <div class="ingredients">
                        <label class="input_name_right" for="ingredients">Ingredients </label>
                        <textarea name="ingredients" placeholder="Ingredients required" rows="3"></textarea>
                    </div>
                    <div class="directions">
                        <label class="input_name_right" for="directions">Directions </label>
                        <textarea name="directions" placeholder="Ingredients required" rows="3"></textarea>
                    </div>
                </div>
                <input type="hidden" name="uploaded_by" value="{{user_info.id}}">
                <input type="hidden" name="users_who_like" value="{{user_info.id}}">
                <input class="submit" type="submit" value="Submit">
            </form>
        </main>
    </div>
</body>
</html>